* {
  font-family: sans-serif;
}

body {
  display: block;
  margin: 0;
}

header h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
}
h1 a {
  text-decoration: none;
}

/* navigation curtain css source/inspiration https://www.w3schools.com/howto/howto_js_curtain_menu.asp*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 2%;
  justify-self: flex-end;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

nav a {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 1.5%;
  margin: 0;
  flex-grow: 1;
  transition: 0.3s;
}
nav a:hover {
  background-color: cornflowerblue;
  color: white;
}

@media screen and (max-height: 450px) {
  .overlay {
    display: block;
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

/*nav css end*/

main {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}
article {
  padding: 2%;
  margin: 3%;
  flex-basis: 80%;
  border-radius: 3vw;
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2) inset;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
article h2 {
  align-self: flex-start;
  text-align: center;
  min-width: 100%;
  flex-shrink: 0;
}
article figure {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0;
  padding: 3%;
  border-radius: 50%;
}

article img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
article p {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3%;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  article {
    flex-direction: column;
  }
}

form {
  padding: 2%;
  margin: 3%;
  flex-basis: 80%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

label {
  margin: 1.5%;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

input {
  line-height: 2em;
  text-align: center;
  width: 25%;
  margin: 2% 0 auto;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
  transition: width 0.3s;
}

input:focus:invalid {
  outline: none;
  width: 100%;
}
input:focus + .error {
  width: 100%;
}
.error {
  width: 25%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 0.5vw 0.5vw;
  box-sizing: border-box;
  transition: 0.3s;
}

.error.active {
  padding: 0.3em;
}

#contact-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 2%;
}
.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
