/*Color pallette*/

:root {
  --naples-yellow: #f3d658;
  --mango-tango: #ee8448;
  --rose-madder: #dc3441;
  --maroon-X11: #ae365c;
  --dark-byzantium: #6b3356;
  --papaya-whip: #fbedd3;
  --floral-white: #fefbf5;
  --dim-gray: #756c67;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--floral-white);
  color: var(--dim-gray);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Teko", sans-serif;
  transform: skew(-20deg, -10deg);
}

header {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 5% auto;
  text-align: center;
  font-size: 10vmax;
  /* font-weight: 900; */
  padding: 5%;
}
h1 a {
  text-decoration: none;
  color: var(--dim-gray);
  transition: color 0.3s;
}

h1 a:hover {
  color: var(--rose-madder);
}

/* navigation burger css https://www.cssscript.com/css-flexbox-based-responsive-navigation/ */
nav {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  transform: skewY(-10deg);
  overflow: hidden;
}

nav label {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#checkbox1,
.toggle {
  display: none;
}

.toggle {
  display: block;
  text-align: center;
  line-height: 4vmax;
  cursor: pointer;
  width: 100%;
  font-size: 2vmax;
  height: 4vmax;
  color: white;
  background: var(--dark-byzantium);
  transition: all 0.1s linear;
}

/*https://medium.com/@djpjgj/css-magic-pt-1-prevent-css-hover-on-touch-devices-56b3f8a44240 prevents sticky :hover effects*/
@media not all and (pointer: coarse) {
  .toggle:hover {
    background: #88426d;
  }
}

#checkbox1:checked + label .menu a {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}

#checkbox1:checked + label .menu {
  height: 30vh;
}
.menu {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 0;
  transition: height 0.3s linear;
  width: 100%;
}

.menu a {
  text-align: center;
  align-self: center;
  flex-grow: 1;
  font-size: 1.5vmax;
  margin: 0;
  padding: 0.4vw 1vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  color: white;
  text-decoration: none;
}
.menu a:nth-child(1) {
  background: var(--naples-yellow);
}

.menu a:nth-child(2) {
  background: var(--mango-tango);
}

.menu a:nth-child(3) {
  background: var(--rose-madder);
}

.menu a:nth-child(4) {
  background: var(--maroon-X11);
}

.menu a:hover {
  flex-grow: 2;
}

/*nav css end*/

main {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
article {
  padding: 2%;
  margin: 3% auto;
  min-width: 80%;
  border-radius: 0 0 3vw 0;
  box-shadow: 0.4vh 0.4vw var(--maroon-X11);
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
article h2 {
  align-self: flex-start;
  text-align: center;
  min-width: 100%;
  flex-shrink: 0;
  font-size: 4vmax;
}
article figure {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0;
  padding: 3%;
  border-radius: 50%;
}

article img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
article p {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3%;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  article {
    flex-direction: column;
  }
}

form {
  padding: 2%;
  margin: 3%;
  flex-basis: 80%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

form label {
  margin: 1.5%;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

form input {
  line-height: 2em;
  text-align: center;
  width: 25%;
  margin: 2% 0 auto;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
  transition: width 0.3s;
}

form input:focus:invalid {
  outline: none;
  width: 100%;
}
form input:focus + .error {
  width: 100%;
}
.error {
  width: 25%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: var(--rose-madder);
  border-radius: 0 0 0.5vw 0.5vw;
  box-sizing: border-box;
  transition: 0.3s;
}

.error.active {
  padding: 0.3em;
}

#contact-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 2%;
}
.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
