/*Edit to update CSS*/

/*Color pallette*/
:root {
  --naples-yellow: #f3d658;
  --mango-tango: #ee8448;
  --rose-madder: #dc3441;
  --maroon-X11: #ae365c;
  --dark-byzantium: #6b3356;
  --papaya-whip: #fbedd3;
  --floral-white: #fefbf5;
  --dim-gray: #756c67;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--floral-white);
  color: var(--dim-gray);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-family: "Teko", sans-serif;
  margin: 5% auto;
  text-align: center;
  font-size: 10vmax;
  padding: 5%;
  transform: skew(-20deg, -10deg);
}
h1 a {
  text-decoration: none;
  color: var(--dim-gray);
  transition: color 0.3s;
}

h1 a:hover,
a:focus {
  color: var(--rose-madder);
}

/* navigation burger css https://www.cssscript.com/css-flexbox-based-responsive-navigation/ */
nav {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  transform: skewY(-10deg);
  overflow: hidden;
}

nav label {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#checkbox1,
.toggle {
  display: none;
}

.toggle {
  display: block;
  text-align: center;
  line-height: 4vmax;
  cursor: pointer;
  width: 100%;
  font-size: 2vmax;
  height: 4vmax;
  color: white;
  background: var(--dark-byzantium);
  transition: all 0.1s linear;
}

/*https://medium.com/@djpjgj/css-magic-pt-1-prevent-css-hover-on-touch-devices-56b3f8a44240 prevents sticky :hover effects*/
@media not all and (pointer: coarse) {
  .toggle:hover {
    background: #88426d;
  }
}

.toggle:focus {
  animation: focus 1s;
}

@keyframes focus {
  0% {
    background-color: var(--dark-byzantium);
  }
  25% {
    background-color: var(--rose-madder);
  }
  50% {
    background-color: var(--rose-madder);
  }
  100% {
    background-color: var(--dark-byzantium);
  }
}

#checkbox1:checked + label .menu a {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}

#checkbox1:checked + label .menu {
  height: 30vh;
}
.menu {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 0;
  transition: height 0.3s linear;
  width: 100%;
}

.menu a {
  text-align: center;
  align-self: center;
  flex-grow: 1;
  font-size: 1.5vmax;
  margin: 0;
  padding: 0.4vw 1vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.menu a:nth-child(1) {
  background: var(--naples-yellow);
}

.menu a:nth-child(2) {
  background: var(--mango-tango);
}

.menu a:nth-child(3) {
  background: var(--rose-madder);
}

.menu a:nth-child(4) {
  background: var(--maroon-X11);
}

.menu a:hover {
  flex-grow: 2;
}
.menu a:focus {
  flex-grow: 2;
}

/*nav css end*/

main {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main > h2 {
  align-self: flex-start;
  text-align: center;
  width: 100%;
  margin-top: 8%;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 2.5vmax;
  text-transform: lowercase;
}

article {
  padding: 2%;
  margin: 3% auto;
  width: 90%;
  box-shadow: 0.4vh 0.4vw var(--maroon-X11);
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  transform: skewY(-10deg);
}

article > * {
  transform: skewY(10deg);
}
article > h2 {
  align-self: flex-start;
  text-align: center;
  min-width: 100%;
  flex-shrink: 0;
  color: var(--rose-madder);
  font-weight: 800;
  font-size: 5vmax;
}
article figure {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0;
  padding: 3%;
  align-self: center;
}

article img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
article p {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3%;
  margin: 5%;
}

.socials {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  margin: 0;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.socials a {
  vertical-align: middle;
  flex-basis: 0;
  flex-grow: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transform: skewY(-10deg);
  transition: 0.5s;
}

.socials a:hover,
.socials a:focus {
  flex-grow: 2;
}
.socials a:hover + desc,
.socials a:focus + desc {
  visibility: visible;
}

.socials a:nth-child(1) {
  background-color: var(--naples-yellow);
}
.socials a:nth-child(2) {
  background-color: var(--mango-tango);
}
.socials a:nth-child(3) {
  background-color: var(--rose-madder);
}
.socials a:nth-child(4) {
  background-color: var(--maroon-X11);
}
.socials a:nth-child(5) {
  background-color: var(--dark-byzantium);
}

@media only screen and (max-width: 768px) {
  article {
    flex-direction: column;
  }
}

form {
  margin: 6%;
  margin-bottom: 9%;
  flex-basis: 80%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  transform: skewY(10deg);
}

form label {
  padding: 1.5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.button-span {
  padding: 1.5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

form input {
  line-height: 2em;
  text-align: center;
  width: 25%;
  margin: 2% 0 auto;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
  transition: width 0.3s;
  border-style: solid;
  border-width: medium;
  border-radius: 0.3vw;
}

label:nth-child(1) input {
  border-color: var(--mango-tango);
}
label:nth-child(2) input {
  border-color: var(--rose-madder);
}
label:nth-child(3) input {
  border-color: var(--maroon-X11);
}

form button {
  line-height: 2em;
  text-align: center;
  width: 25%;
  margin: 2% 0 auto;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
  align-self: center;
  border-color: var(--dark-byzantium);
  background-color: var(--dark-byzantium);
  color: white;
  border-style: solid;
  border-width: medium;
  border-radius: 0.3vw;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

@media not all and (pointer: coarse) {
  form button:hover {
    background: #88426d;
    border-color: #88426d;
  }
}

form button:focus {
  animation: focus 1s;
}

form input:focus:invalid {
  outline: none;
  width: 100%;
}
form input:focus + .error {
  width: 100%;
}
.error {
  width: 25%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: var(--rose-madder);
  border-radius: 0 0 0.5vw 0.5vw;
  box-sizing: border-box;
  transition: 0.3s;
}

.error.active {
  padding: 0.3em;
}

#completion {
  margin: 10%;
  text-transform: uppercase;
  font-weight: 700;
}

.list-container {
  flex-grow: 1;
  flex-basis: 0;
  padding: 6%;
  margin: 0;
}

#contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.item {
  margin: 5%;
  padding: 3%;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  background-color: white;
  box-shadow: 0.4vh 0.4vw var(--mango-tango);
  transform: skewY(-10deg);
}

.nested {
  font-size: 1rem;
  font-weight: 600;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.nested li {
  border-bottom: 2px solid var(--dark-byzantium);
  flex-grow: 1;
  flex-basis: 0;
}
